<!DOCTYPE html lang="es">
	{% for dataElem in data %}
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<title>Credenciales</title>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
	</head>

	<body>
		<div class="MainContent" style="width: 100%; display: flex;flex-direction: column;align-items: center;box-sizing: border-box;">
			<div class="Header" style="width: 100%;background-color: #5fcdd7;display: flex;justify-content: space-between;padding: 1em;box-sizing: border-box;">
				<img src="https://issuer.alpha.didi.org.ar/static/media/ai-di-logo.52d38a94.svg" width="100" alt="ai di logo" style="cursor: pointer;">
			</div>
			<div class="container">
				<h1 class="pt-3">Credenciales Verificables Compartidas</h1>
				<p> Estas credenciales estarán disponible durante 72 hrs a partir de haber sido compartida. Si este link no muestra una credencial solicite al poseedor de la misma que la comparta nuevamente. </p>
					<p> Ante problemas con esta visualización, por favor, comuniquese con el equipo de <a href="mailto:soporte@aidi.app">Soporte de ai·di</a>.</p>
			{% if dataElem.error %}
			<div class="alert alert-danger" role="alert">{{dataElem.error}}</div>
			{% endif %}
			<div id="credencial" class="pt-4">
				<div class="card mt-2">
					 <div class="card-header">
						<div class="cart-title text-left bg-grey">
							{% if dataElem.credential !== false %} {% if dataElem.iss === false %}
								<h5 id="issName">Emisor no registrado</h5>
								<i
									style="color:red;margin-top: 5px;margin-left: 5px;"
									class="fa fa-times"
									aria-hidden="true"
								></i>
							{% else %}
								<ul>
									<li>
										<div class="row">
											<h2 style="font-weight: bold;">
												Nombre de la Credencial:&nbsp
											</h2>	
											<h2>
												{{dataElem.name}} {% if dataElem.credential === false %}
											<i
												style="color:red;"
												class="fa fa-ban"
												aria-hidden="true"
											></i>
											{% else %}
											<i
												style="color:green;"
												class="fa fa-check-circle"
												aria-hidden="true"
											></i>
											{% endif %}
											</h2>										

										</div>
									</li>
									<li>
										<div class="row">
											<!-- &nbsp es para generar un espacio en blanco -->
											<h3 style="font-weight: bold;">
												Emisor:&nbsp
											</h3>
											<h3>
												{{dataElem.iss}} 
											</h3>
											<i
												style="color:green;margin-top: 5px;margin-left: 5px;"
												class="fa fa-check-circle"
												aria-hidden="true"
											></i>
										</div>
									</li>
									
								</ul>
							{% endif %} {% endif %}
							<small class="text-muted" id="iss"></small>
						</div>
						</div>
						<div class="card-body">
						<ul class="list-group list-group-flush">
							<ul class="m-0 p-0">
								{% for key in dataElem.credentialDataKeys %}
								<li class="list-group-item">
									<div class="row">
										{% if dataElem.credentialData[key].toPreview %}
										<span class="col-md-6 col-sm-12 col-xs-12" style="font-weight: bold;">
											{{key}}:
										</span>
										<span class="col-md-6 col-sm-12 col-xs-12" id="nombre">
											{{dataElem.credentialData[key].data}}
										</span>
										{% else %}
										<span class="col-md-6 col-sm-12 col-xs-12" style="font-weight: bold;">
											{{key}}:
										</span>
										<span class="col-md-6 col-sm-12 col-xs-12" id="nombre">
											{{dataElem.credentialData[key].data}}
										</span>
										{% endif %}
									</div>
								</li>
								{% endfor %} 
								<!--  TODO: Se remueve hasta implementacion del flujo completo en app aidi 
								{% if dataElem.status %}
								<li class="list-group-item">
									<div class="row">
										<span class="col-4" style="font-weight: bold;">
											VERIFICADO:
										</span>
										<span class="col-8" id="nombre" style="font-weight: bold;">
											{% if dataElem.status == "VERIFIED" %}
											<i
												style="color:green;margin-top: 5px;margin-left: 5px;"
												class="fa fa-check"
												aria-hidden="true"
											></i>
											{% endif %} {% if dataElem.status == "UNVERIFIED" %}
											<meta id="refresh" http-equiv="refresh" disabled="true" content="99999999999">
											<i
												style="color:red;margin-top: 5px;margin-left: 5px;"
												class="fa fa-times"
												aria-hidden="true"
											></i>

											<button id="verify" class="btn btn-primary" type="button" onclick="onVerify('{{dataElem.jwt}}','{{dataElem.did}}')">
												VERIFICAR
											</button>

											{% endif %} 
										</span>
									</div> -->
								</li>
								{% endif %}
							</ul>
							<div id="certificateData"></div>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	</body>
	{% endfor %}

	<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"
	type="text/javascript"
	></script>
	<script>

		window.onload = function() {
			var reloading = sessionStorage.getItem("reloading");
			if (reloading) {
				var time = Number(sessionStorage.getItem("time"));
				console.log("time:" + Number(time) );
				console.log(time > 60*10);
				if(time > 60*10) {
					confirm("Se detendra el refresco por haber pasado 10 minutos desde el envio del pedido.");
					console.log("too many refreshes");
					$("#verify").attr("disabled", true);
					$("#refresh").attr("content", 99999999999);
				} else {
					$("#verify").attr("disabled", true);
					$("#refresh").attr("content", 40);
					sessionStorage.setItem("time",  Number(time) + 40);
				}

			} else {
				console.log("startup");
				sessionStorage.setItem("time", 0);
				$("#verify").attr("disabled", false);
				$("#refresh").attr("disabled", true);
			}
		}

		function onVerify(jwt, did) {
			$("#verify").attr("disabled", true);

			$.post({
				url: "/api/credential_viewer/sendVerifyRequest",
				headers: { "Content-Type": "application/json" },
				data: JSON.stringify({
					did: did,
					jwt: jwt
				}),
				success: () => {		
					confirm("Pedido de verificacion enviado");			
					console.log("success");

					sessionStorage.setItem("reloading", "true");
					$("#refresh").attr("content", 40);
				}
			});
		}
	</script>
</html>
