<!DOCTYPE html>

<html lang="es">
	{% for dataElem in data %}
	</br>
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<title>Certificado</title>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
	</head>

	<body>
		<div class="container">
			{% if dataElem.error %}
			<div class="alert alert-danger" role="alert">{{dataElem.error}}</div>
			{% endif %}
			<div id="certificado">
				<div style="display: flex;">
					<h1 class="display-4 p-3">Certificado</h1>
					{% if dataElem.credential === false %}
					<i
						style="color:red; margin-top: 25px;"
						class="fa fa-ban fa-3x"
						aria-hidden="true"
					></i>
					{% else %}
					<i
						style="color:green; margin-top: 25px;"
						class="fa fa-check-circle fa-3x"
						aria-hidden="true"
					></i>
					{% endif %}
				</div>
				<div class="card mt-2">
					<div class="card-body">
						<div class="cart-title text-center">
							{% if dataElem.credential !== false %} {% if dataElem.iss === false %}
							<div style="display: flex;justify-content: center;">
								<h5 id="issName">Emisor no registrado</h5>
								<i
									style="color:red;margin-top: 5px;margin-left: 5px;"
									class="fa fa-times"
									aria-hidden="true"
								></i>
							</div>
							{% else %}
							<div style="display: flex;justify-content: center;">
								<h5 id="issName">{{dataElem.iss}}</h5>
								<i
									style="color:green;margin-top: 5px;margin-left: 5px;"
									class="fa fa-check"
									aria-hidden="true"
								></i>
							</div>
							{% endif %} {% endif %}
							<small class="text-muted" id="iss"></small>
						</div>
						<ul class="list-group list-group-flush">
							<ul>
								{% for key in dataElem.credentialDataKeys %}
								<li class="list-group-item">
									<div class="row">
										{% if dataElem.credentialData[key].toPreview %}
										<span class="col-4" style="font-weight: bold;">
											{{key}}:
										</span>
										<span class="col-8" id="nombre" style="font-weight: bold;">
											{{dataElem.credentialData[key].data}}
										</span>
										{% else %}
										<span class="col-4">
											{{key}}:
										</span>
										<span class="col-8" id="nombre">
											{{dataElem.credentialData[key].data}}
										</span>
										{% endif %}
									</div>
								</li>
								{% endfor %} {% if dataElem.status %}
								<li class="list-group-item">
									<div class="row">
										<span class="col-4" style="font-weight: bold;">
											VERIFICADO:
										</span>
										<span class="col-8" id="nombre" style="font-weight: bold;">
											{% if dataElem.status == "VERIFIED" %}
											<i
												style="color:green;margin-top: 5px;margin-left: 5px;"
												class="fa fa-check"
												aria-hidden="true"
											></i>
											{% endif %} {% if dataElem.status == "UNVERIFIED" %}
											<meta id="refresh" http-equiv="refresh" disabled="true" content="40">
											<i
												style="color:red;margin-top: 5px;margin-left: 5px;"
												class="fa fa-times"
												aria-hidden="true"
											></i>

											<button id="verify" class="btn btn-primary" type="button" onclick="onVerify('{{dataElem.jwt}}','{{dataElem.did}}')">
												VERIFICAR
											</button>

											{% endif %}
										</span>
									</div>
								</li>
								{% endif %}
							</ul>
							<div id="certificateData"></div>
						</ul>
					</div>
				</div>
				<div class="card mt-2">
					<div class="card-body">
						<small class="text-muted" id="jwt"></small>
					</div>
				</div>
			</div>
		</div>
	</body>
	{% endfor %}

	<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"
	type="text/javascript"
	></script>
	<script>

		window.onload = function() {
			var reloading = sessionStorage.getItem("reloading");
			if (reloading) {
				var time = Number(sessionStorage.getItem("time"));
				if(time > 60*10) {
					confirm("Se detendra el refresco por haber pasado 10 minutos desde el envio del pedido.");
					console.log("too many refreshes");
					$("#verify").attr("disabled", true);
					$("#refresh").attr("disabled", false);
				} else {
					console.log("next refresh:" + Number(time + 40) );
					$("#verify").attr("disabled", true);
					$("#refresh").attr("disabled", false);
					sessionStorage.setItem("time", time + 40);
				}

			} else {
				console.log("startup");
				sessionStorage.setItem("time", 0);
				$("#verify").attr("disabled", false);
				$("#refresh").attr("disabled", true);
			}
		}

		function onVerify(jwt, did) {
			$("#verify").attr("disabled", true);

			$.post({
				url: "/api/credential_viewer/sendVerifyRequest",
				headers: { "Content-Type": "application/json" },
				data: JSON.stringify({
					did: did,
					jwt: jwt
				}),
				success: () => {		
					confirm("Pedido de verificacion enviado");			
					console.log("success");

					sessionStorage.setItem("reloading", "true");
					$("#refresh").attr("disabled", false);
				}
			});
		}
	</script>
</html>
